// output:docs/index.html, pretty:true
head
    title LaRSS
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="index.css")
    // favicon
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='apple-mobile-web-app-title', content='LaRSS')
    meta(name='application-name', content='LaRSS')
    meta(name='theme-color', content='#ffffff')
body
    .dialog-container.pat-dialog
        .dialog
            h1 Sync your tasks (beta)
            input.pat(tabindex="-1", placeholder="GitHub Personal Access Token")
            h2 How to get your personal access token
            p 1. Log in or register on <a target="_blank" href="https://github.com/">GitHub</a>.
            p 2. Create a new "Personal access token" by going to <a target="_blank" href="https://github.com/settings/tokens/new">this link</a>. Write LaRSS into the Token description field. Make sure "gist" is checked, and click "Generate token".
            p 3. Copy the random text shown in the green field (This is your personal access token). Paste this text into the field above, in every instance of Taskler you have.
            p <b>If your personal access token has already been used, your offline tasks will be replaced.</b>
            button(tabindex="-1").save-pat SAVE
    .container
    .container-sample
        img.logo(src="logo.png")
        .general-info
            .header
                .collapse-icon
                h3.item-title General Info
                p.pat-button GitHub Personal Access Token
            .item-container
                .row
                    input(type="text" placeholder="Title").title
                    input(type="text" placeholder="Author").author
                .row
                    input(type="text" placeholder="Subtitle").subtitle
                .row
                    textarea(placeholder="Description" rows="1").description
                .row
                    input(type="text" placeholder="URL").url
                    input(type="text" placeholder="Image URL").imageURL
                .row
                    select.language
                        option(value="en-us") en-us
                    select.category
                        option(value="Music") Music
                    select.explicit
                        option(value="yes") Explicit
                        option(value="no") Not explicit
                    input(type="text" placeholder="Copyright").copyright
                .row
                    input(type="text" placeholder="Owner Name").name
                    input(type="text" placeholder="Owner Email").email
        .item
            .header
                .collapse-icon
                h3.item-title Item 1
            .item-container
                .row
                    input(type="text" placeholder="GUID").guid
                    input(type="text" placeholder="Title").title
                .row
                    input(type="text" placeholder="Audio URL").audioURL
                    input(type="text" placeholder="Image URL").imageURL
                .row
                    select.explicit
                        option(value="yes") Explicit
                        option(value="no") Not explicit
                    input(type="text" placeholder="Date").date
                    input(type="text" placeholder="Duration").duration
                .row
                    textarea(placeholder="Summary" rows="2").summary
    script(src="index.js")
    
